*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  background-color: hsl(225, 100%, 94%);
  min-height: 100vh;
}

body::before {
  content: url(../images/pattern-background-desktop.svg);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}