*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: hsl(225, 100%, 94%);
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: url(../images/pattern-background-desktop.svg);
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 420px) {
  html {
    font-size: 0.875rem;
  }
}

@media (max-width: 375px) {
  body::before {
    content: url(../images/pattern-background-mobile.svg);
  }
}

@media (max-width: 350px) {
  html {
    font-size: 12px;
  }
}