.desktop-background-pattern,
.mobile-background-pattern {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.mobile-background-pattern {
  display: none;
}

.order-summary-card {
  position: relative;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 23%, 55%);
  width: 90%;
  max-width: 26.5625rem;
  border-radius: 1rem;
  margin-top: 5.15625rem;
  overflow: hidden;
}

.order-summary-card > img {
  display: block;
  width: 100%;
}

.order-summary-card-content {
  padding: 3rem;
}

.order-summary-card-content h2 {
  font-size: 1.75rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 1rem;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 1.25rem;
  border-radius: 0.75rem;
  margin: 1.5rem 0 1.5rem 0;
}

.product-info .left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.product-info .left-section h3 {
  font-size: 1em;
  color: hsl(223, 47%, 23%);
  margin-bottom: 0.0625rem;
}

.change-product-btn {
  font-family: inherit;
  font-weight: 700;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

.change-product-btn:hover,
.change-product-btn:focus,
.proceed-payment-btn:hover,
.proceed-payment-btn:focus {
  text-decoration: none;
  opacity: 0.75;
}

.proceed-payment-btn,
.cancel-order-btn {
  font-family: inherit;
  font-size: 0.875em;
  font-weight: 900;
  display: block;
  border: none;
  cursor: pointer;
}

.proceed-payment-btn {
  background-color: hsl(245, 75%, 52%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 0.875em;
  border-radius: 0.75em;
  margin-bottom: 1.25rem;
  box-shadow: 
    0.25rem 1rem 1.25rem hsla(225, 100%, 94%, 0.95),
    -0.25rem 1rem 1.25rem hsla(225, 100%, 94%, 0.95);
  transition: opacity 0.15s ease-in-out;
}

.cancel-order-btn {
  background-color: transparent;
  color: inherit;
  margin: 0 auto;
  transition: color 0.15s ease-in-out;
}

.cancel-order-btn:hover,
.cancel-order-btn:focus {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 420px) {
  .order-summary-card-content {
    font-size: 1.142857142857143rem;
    padding: 2.2rem;
  }

  .desktop-background-pattern {
    display: none;
  }

  .mobile-background-pattern {
    display: block;
  }
}